::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
