#app {
    font-size: 14px;
    color: #333;
    user-select: none;
    width: 280px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

em,
h1,
ul li {
    margin: 6px 4px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #e3e3e3, 0 0 2px 0 rgba(229, 233, 239, 0.3);
    transition: background-color 0.15s;
    overflow: hidden;
}

ul li {
    display: flex;
    align-items: center;
	cursor: pointer;
}

ul li[data-enabled="false"] {
    background-color: rgb(229, 233, 239);
}

ul li:hover {
    outline-color: rgb(77,144,254);
	outline-style: auto;
	outline-width: 1px;
}

img {
    flex: 0 0 auto;
    margin: auto 4px auto 8px;
    width: 16px;
    height: 16px;
}

span {
    flex: 1 1 100%;
    margin: auto 4px auto 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a {
    flex: 0 0 auto;
    margin: auto 8px auto 4px;
}

a:hover {
	color:red;
}

em {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    width: 272px;
    font-style: normal;
	font-weight: bold;
	text-align: center;
    background-color: red;
    box-sizing: border-box;
    z-index: 100;
    cursor: default;
}

em:empty {
    display: none;
}

svg {
	fill: rgb(95, 99, 104);
	width: 20px;
	height: 20px;
}

a:hover > svg {
    transform: scale(1.15);
}
